{
    "ecmaFeatures": {
        "arrowFunctions": true,
        "blockBindings": true,
        "classes": true,
        "destructuring": true,
        "modules": true,
        "superInFunctions": true,
        "templateStrings": true
    },
    "env": {
        "node": true,
        "browser": true
    },
    "plugins": ["react"],
    "rules": {
        "curly": [2, "multi"],
        "quotes": [1, "single"]
    }
}
